# Block state providers
public net.minecraft.world.level.levelgen.feature.stateproviders.BlockStateProviderType <init>(Lcom/mojang/serialization/MapCodec;)V

# Biomes
public net.minecraft.world.level.biome.Biome$ClimateSettings
public net.minecraft.world.level.biome.Biome$ClimateSettings <init>(ZFLnet/minecraft/world/level/biome/Biome$TemperatureModifier;F)V

# Density functions
public net.minecraft.world.level.levelgen.DensityFunctions$EndIslandDensityFunction

# Structures
public net.minecraft.world.level.levelgen.structure.structures.MineshaftPieces$MineShaftPiece
public net.minecraft.world.level.levelgen.structure.structures.NetherFortressPieces$NetherBridgePiece
public net.minecraft.world.level.levelgen.structure.structures.OceanMonumentPieces$OceanMonumentPiece
public net.minecraft.world.level.levelgen.structure.structures.StrongholdPieces$StrongholdPiece

public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$MansionGrid
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$MansionPiecePlacer
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$ThirdFloorRoomCollection
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$SecondFloorRoomCollection
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$FirstFloorRoomCollection
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$FloorRoomCollection

public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$FirstFloorRoomCollection <init>()V
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$SecondFloorRoomCollection <init>()V
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$ThirdFloorRoomCollection <init>()V

# Surface rules
public-f net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator settings
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$LazyXZCondition
public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule

# Chunk
public net.minecraft.world.level.ChunkPos x
public net.minecraft.world.level.ChunkPos z

public net.minecraft.world.level.biome.Climate$RTree
